// Configures the daily-gallery css for the large photogallery I'll
// be creating for my daily project.

// From https://www.sitepoint.com/using-modern-css-to-build-a-responsive-image-grid/

div.dailygallery {
  font-size: 0;
    a {
    font-size: 16px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 8px;
    width: calc(50% - 4px);
    margin-right: 8px;
    }

    a:nth-of-type(2n) {
    margin-right: 0;
    }

    @media screen and (min-width: 50em) {
    a {
        width: calc(25% - 6px);
    }

    a:nth-of-type(2n) {
        margin-right: 8px;
    }

    a:nth-of-type(4n) {
        margin-right: 0;
    }
    }

    a:hover img {
    transform: scale(1.15);
    }

    figure {
    margin: 0;
    }

    img {
    border: none;
    max-width: 100%;
    height: auto;
    display: block;
    background: #ccc;
    transition: transform .2s ease-in-out;
    }
}