# .gitignore jekyll

# exclude the generated site contents
_site/

# exclude sublime-text workspace and project files
ocelotsloth.github.io.sublime-project
ocelotsloth.github.io.sublime-workspace

# exclude unused images folder
images/unused/
