---
# layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    <header class="page-row">
      {% include browser-upgrade.html %}
      {% include masthead.html %}
    </header>

    <main class="page-row page-row-expanded">
      {{ content }}
    </main>

    <div class="page__footer page-row">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
